- @posts.each do |post|
    - show_for post do |p|
      = p.attribute :title
      = p.attribute :body
    %p
      = link_to 'Show', post
      |
      = link_to 'Edit', edit_post_path(post)
      |
      = link_to 'Destroy', post, :confirm => 'Are you sure?', :method => :delete

%p= link_to 'New post', new_post_path
